.header {
    width: 1440px;
    height: 72px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 72px;
    height: 72px;

}

.nav{
    width: 231px;
    height: 24px;
    display: flex;
    gap: 24px;
    font-family: 'Arial', sans-serif;
    font-size: 16px; 
  }

  .nav a{
    width: 50px;
    height: 24px;
    text-decoration: none;
    color: #2e2e2e;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }


